fastapi==0.115.0
uvicorn[standard]==0.32.0
gunicorn==23.0.0
python-dotenv==1.0.1
google-cloud-storage==2.18.2
google-cloud-firestore==2.19.0
matchering==2.0.6
PyJWT==2.9.0
cryptography==43.0.1
soundfile>=0.10.3
pyloudnorm>=0.1.0